body{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
  }
 
  p{
    font-size: 20px;
}
h3{
    font-size: 30px;
    font-weight: bold;

}
button{
    background-color: rgb(60,60,60);
    padding: 20px;
}