* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  #one {
    /* border: solid #000000; */
    width: 100%;
    border-radius: 20px;
  }
  
  #one > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  #two {
    /* border: solid red; */
    font-size: 45px;
    color: rgb(60, 60, 60);
    text-align: center;
    font-weight: 600;
    margin: 3% 0;
  }
  
  #three {
    /* border: solid yellow; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 30px;
    padding: 0px 150px 100px 150px;
    border-bottom: 1px solid black;
  }
  
  #three > div {
      margin-bottom: 10%;
  }
  
  #three h4{
      font-weight: 600;
      color: rgb(49, 49, 49);
      font-size: 13px;
      letter-spacing:0.7px;
      text-transform:uppercase;
  }
  
  #three img {
    width: 100%;
    /* border: solid; */
  }
  
  #three button {
    width: 102%;
    color: white;
    height: 10%;
    margin-top: 4%;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 103, 129);
  }
  
  #three h6{
      color: rgb(255,103,129);
  }
  
  #footer{
      display: flex;
      justify-content: space-around;
      margin-top: 5%;
      line-height: 3;
      padding: 0 10%;
  }
  
  #footer ul{
      list-style-type: none;
      letter-spacing:3.8px;
  }
  
  #footer li{
      line-height:52.3px;
      font-size: 17px;
      letter-spacing:2px;
      font-weight:400;
      cursor: pointer;
  }
  
  #footer h3{
      font-family: Montserrat, sans-serif;
  }
  
  #footer button{
      border: none;
      background-color: black;
      color: white;
      height: 50px;
      width: 25%;
  }
   
  #footer input{
      border: none;
      width: 60%;
      font-size: 17px;
      font-weight: 600;
      color: black;
      padding: 0 2% 3% 5%;
      border-bottom: 3px solid;
  }
  
  #footer input:focus{
      outline: none;
  }
  
  #footer img{
      width: 32%;
      /* border: solid; */
      margin: 5% 0 0 4%;
      height: 30px;
  }