#img_box{
    width: 298px;
    border-radius: 5px;
  }
  #box_wraper{
    width: 298px;
    z-index: 5;
    position: absolute;
  }
  #text_box{
    width: 85%;
    z-index: 6;
    margin: auto;
    margin-top: -40px;
    padding: 15px 8px 8px 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 200px;
  }
  
  #star>i{
    color: gold;
  }
  #box_text>p{
    font-size: 15px;
  }
  #box_nm>h6{
    font-size: 9px;
    font-weight: bold;
    text-align: end;
  }
  /* -------------------------------------------------reviews---------------------------------- */
  