@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
/* html {
  scroll-behavior: smooth;
} */

/* #touch_sld{
  border: 1px solid blue;
} */
.slider {
  margin-bottom: 30px;
  position: relative;
  /* border: 1px solid red; */
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;  
}
.slider-card {
  width: 298px;
  height: 445px;
  /* border: 1px solid red; */
  border-radius: 50px;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  /* box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%); */
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 5px 5px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  display: none;
}

/* -----------------------------------------------cards css-------------------------- */
#touch_cards{
  width: 298px;
  border-radius: 10px;
 
}
.tcards_img{
 width: 100%;
 height: 299px;
  /* border: 1px solid red; */
  border-radius: 10px;
}
#touch_cards>img{
width: 100%;
height: 298px;
border-radius: 10px;
}
.tcards_text{
  /* border: 1px solid red; */
  margin-top: 10px;
}
.tcards_text>p{
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Ubuntu';
  line-height: 1.5em;
  letter-spacing: 0.2px;
}
.tcards_price>p{
  text-align: center;
  color: #ff6781;
  font-weight: 700;
  font-size: 16px;
}
.tcart{
  background: #FF6781 !important;
  font-weight: 600;
  padding: 1%;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
.tcart>a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}